.venv
.idea/
logs
*.wav
dataset/
__pycache__/
build
dist
*.spec

pipdeptree.txt
requirements.lock.txt
todo.md
/models
vocotype_ibus.egg-info
CLAUDE.md

*.egg-info/
*.deb
*.rpm
*.pkg.tar.*
*.changes
*.buildinfo
.pytest_cache/
*.py[cod]

.cache/

.tmp/
